%p
  プレーヤーの名前：
  %b
    = @name 

%p
  ゲームをした日時：
  %b
    = @date

%p
  %table{border: '1', cellpadding: '3'}
    %tr
      - 1.upto(10) do |i|
        %th
          %font{size: '2'}
            = i
            フレーム
    %tr
      - 1.upto(9) do |i|
        %td
          = @down_pins[2*i-2]
          　
          = @down_pins[2*i-1]
      %td
        = @down_pins[18]
        　
        = @down_pins[19]
        　
        = @down_pins[20]
    %tr
      - 1.upto(10) do |i|
        %td{align: 'right'}
          = @total[i-1]
