%h1 スコアリスト一覧

%p
  = link_to '新規作成', new_score_path
  %table{border: '4', cellpadding: '6'}
    %tr
      %th プレーヤー
      %th ゲームをした日時
      %th 最終スコア
      %th 操作
    - @scores.each do |score|
      %tr
        %td
          = score.player_name
        %td
          - if score.game_date
            = score.game_date.localtime
          - else
            = score.game_date
        %td{align: 'center'}
          = score.score_10_frame
        %td
          = link_to '詳細', score_path(score.id)
          = link_to '編集', edit_score_path(score.id)
          = link_to '削除', score_path(score.id), method: 'delete', confirm: '削除してもよろしいですか？'

= link_to 'Start Page', '/'
